@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Infant:wght@700&family=Playfair+Display&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    width: 1440px;
    height: 2672px;

    background-color: #CBC7A4;
}

header {
    float: left;
    width: 1440px;
    height: 374px;
    margin-left: 0px;
    margin-top: 57px;

    background: #FFF7E1;
}

.icon {
    width: 588px;
    height: 337px;
    padding-left: 288px;
    padding-top: 37px;
}

.headerH1 {
    position: absolute;
    width: 467px;
    height: 55px;
    left: 641px;
    top: 90px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;

    color: #6D594A;
}

.headerQ {
    position: absolute;
    width: 573px;
    height: 68px;
    left: 588px;
    top: 320px;

    font-family: 'Cormorant Infant', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;

    color: #6D594A;
}

.headerNav {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    width: 403px;
    height: 70px;
    margin-left: 47%;
    margin-top: -13%;
}

#Gmail {
    width: 70px;
    height: 70px;

    background-image: url(../resources/Gmail.svg);
}

#GitHub {
    width: 70px;
    height: 70px;

    background-image: url(../resources/Github.svg);
}

#VK {
    width: 70px;
    height: 70px;

    background-image: url(../resources/Vk.svg);
}

#TG {
    width: 70px;
    height: 70px;

    background-image: url(../resources/Telegram.svg);
}

main{
    display: flex;
    justify-content: space-between;
    width: 1208px;
    height: 2179px;
    margin-left: 117px;
    margin-top: 100px;
}

.descriptionBlock {
    width: 716px;
    height: 472px;
    margin-top: 31px;

    background: #FFF7E1;
}

.descriptionH2 {
    width: 431px;
    height: 86px;
    padding-left: 39px;
    padding-top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;    
    
    color: #6D594A;
}

.descriptionP {
    width: 591px;
    height: 339px;
    padding-left: 40px;
    padding-top: 25px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    
    color: #6D594A;
}

.spiritanimalBlock {
    width: 403px;
    height: 472px;
    margin-left: 80px;
    margin-top: 31px;

    background: #FFF7E1;
}

.spiritanimalH2{
    width: 315px;
    height: 146px;
    padding-left: 89px;
    padding-top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    text-align: center;

    color: #6D594A;
}

.animalAside {
    width: 263px;
    height: 262px;
    padding-left: 70px;
    padding-top: 10px;
}

.animalPre {
    font-size: 9px;
    font-weight: bolder;
    color: #6D594A;
}

.positiveBlock{
    width: 560px;
    height: 409px;
    margin-left: -1200px;
    margin-top: 563px;

    background: #FFF7E1;
}

.positiveH2{
    width: 536px;
    height: 86px;
    padding-left: 39px;
    padding-top: 40px;
    
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    color: #6D594A;
}

.positiveUl {
    width: 488px;
    height: 290px;
    padding-left: 80px;
    padding-top: 30px;
}

.negativeBlock {
    position: absolute;
    width: 559px;
    height: 409px;
    margin-left: 640px;
    margin-top: 563px;

    background: #FFF7E1;
}

.negativeH2{
    width: 535px;
    height: 86px;
    padding-left: 40px;
    padding-top: 40px;
    
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    color: #6D594A;
}

.negativeUl {
    width: 488px;
    height: 290px;
    padding-left: 80px;
    padding-top: 30px;

}

li {
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    
    color: #6D594A;
}

.websiteBlock1 {
    width: 1160px;
    height: 530px;
    margin-left: -45%;
    margin-top: 1032px;

    background: #FFF7E1;
}

.website1H2{
    width: 536px;
    height: 89.25px;
    padding-left: 39px;
    padding-top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: #6D594A;
}

.website1 {
    position: absolute;
    width: 563px;
    height: 356px;
    margin-left: 298px;
    margin-top: 40px;
}

.websiteBlock2{
    width: 1160px;
    height: 530px;
    margin-left: -96%;
    margin-top: 1622px;

    background: #FFF7E1;
}

.website2H2{
    width: 536px;
    height: 89.25px;
    padding-left: 39px;
    padding-top: 40px;
    
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    color: #6D594A;
    
}

.website2 {
    position: absolute;
    width: 758px;
    height: 368px;
    margin-left: 201px;
    margin-top: 40px;
}

footer{
    float: left;
    width: 1440px;
    height: 98px;
    margin-left: 0px;
    margin-top: 100px;

    background: #6D594A;
}

.footerP {
    width: 863px;
    height: 67px;
    padding-left: 577px;
    padding-top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;

    color: #FFF7E1;

    opacity: 0.6;
}