@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Infant:wght@700&family=Playfair+Display&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    position: relative;
    width: 1440px;
    height: 2672px;

    background-color: #CBC7A4;
}

header {
    position: absolute;
    width: 1440px;
    height: 414px;
    left: 0px;
    top: 37px;
}

.headerSection {
    position: absolute;
    width: 1440px;
    height: 374px;
    left: 0px;
    top: 20px;

    background: #FFF7E1;
}

.icon {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 288px;
    top: 37px;
}

.headerH1 {
    position: absolute;
    width: 467px;
    height: 55px;
    left: 641px;
    top: 70px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;

    color: #6D594A;
}

.headerQ {
    position: absolute;
    width: 573px;
    height: 68px;
    left: 588px;
    top: 269px;

    font-family: 'Cormorant Infant', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;

    color: #6D594A;
}

.headerNav {
    position: absolute;
    width: 403px;
    height: 70px;
    left: 673px;
    top: 164px;
}

.iconGmail {
    position: absolute;
    width: 70px;
    height: 70px;
}

.iconGithub {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 110px;
}

.iconVk {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 220px;
}

.iconTelegram {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 330px;    
}

main{
    position: absolute;
    width: 1208px;
    height: 2179px;
    left: 117px;
    top: 460px;
}

.descriptionBlock {
    position: absolute;
    width: 716px;
    height: 472px;
    left: 23px;
    top: 31px;

    background: #FFF7E1;
}

.descriptionH2 {
    position: absolute;
    width: 392px;
    height: 46px;
    left: 39px;
    top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;    
    
    color: #6D594A;
}

.descriptionP {
    position: absolute;
    width: 551px;
    height: 314px;
    left: 40px;
    top: 109px;

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    
    color: #6D594A;
}

.spiritanimalBlock {
    position: absolute;
    width: 403px;
    height: 472px;
    left: 780px;
    top: 31px;

    background: #FFF7E1;
}

.spiritanimalH2{
    position: absolute;
    width: 226px;
    height: 106px;
    left: 89px;
    top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    text-align: center;

    color: #6D594A;
}

.animalAside {
    position: absolute;
    width: 263px;
    height: 252px;
    left: 70px;
    top: 161px;
}

.animalPre {
    font-size: 9px;
    font-weight: bolder;
    color: #6D594A;
}

.positiveBlock{
    position: absolute;
    width: 560px;
    height: 409px;
    left: 23px;
    top: 563px;

    background: #FFF7E1;
}

.positiveH2{
    position: absolute;
    width: 497px;
    height: 46px;
    left: 39px;
    top: 40px;
    
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    color: #6D594A;
}

.positiveUl {
    position: absolute;
    width: 488px;
    height: 260px;
    left: 36px;
    top: 109px;

}

.negativeBlock {
    position: absolute;
    width: 559px;
    height: 409px;
    left: 624px;
    top: 563px;

    background: #FFF7E1;
}
.negativeH2{
    position: absolute;
    width: 495px;
    height: 46px;
    left: 40px;
    top: 40px;
    
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    color: #6D594A;
}

.negativeUl {
    position: absolute;
    width: 488px;
    height: 260px;
    left: 36px;
    top: 109px;

}

li {
    padding-top: 10px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    
    color: #6D594A;
}

.websiteBlock1 {
    position: absolute;
    width: 1160px;
    height: 530px;
    left: 23px;
    top: 1032px;

    background: #FFF7E1;
}

.website1H2{
    position: absolute;
    width: 497px;
    height: 49.25px;
    left: 39px;
    top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: #6D594A;
}

.website1 {
    position: absolute;
    width: 563px;
    height: 356px;
    left: 298px;
    top: 112px;
}

.websiteBlock2{
    position: absolute;
    width: 1160px;
    height: 530px;
    left: 23px;
    top: 1622px;

    background: #FFF7E1;
}

.website2H2{
    position: absolute;
    width: 497px;
    height: 49.25px;
    left: 39px;
    top: 40px;
    
    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
    color: #6D594A;
    
}

.website2 {
    position: absolute;
    width: 758px;
    height: 368px;
    left: 201px;
    top: 112px;
}

footer{
    position: absolute;
    width: 1440px;
    height: 98px;
    left: 0px;
    top: 2672px;

    background: #6D594A;
}

.footerP {
    position: absolute;
    width: 286px;
    height: 27px;
    left: 577px;
    top: 40px;

    font-family: 'Alice', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;

    color: #FFF7E1;

    opacity: 0.6;
}